/* 詳細資料(table) */

.my-detail-table table.detail {
  width: 100%;
  margin-bottom: 10px;
}

.my-detail-table table.detail caption {
  caption-side: top;
}

.my-detail-table table.detail > tbody > tr > th,
.my-detail-table table.detail > tr > th {
  border: 1px solid #ccc;
  width: 30%;
  max-width: 160px;
  padding: 5px 8px;
  text-align: right;
  background: #f3f3f3;
}

.my-detail-table table.detail > tbody > tr > td,
.my-detail-table table.detail > tr > td {
  border: 1px solid #ccc;
  padding: 5px 8px;
  word-break: break-all;
}

.my-detail-table table.detail.condensed > tbody > tr > th,
.my-detail-table table.detail.condensed > tbody > tr > td,
.my-detail-table table.detail.condensed > tr > th,
.my-detail-table table.detail.condensed > tr > td {
  padding: 3px 5px;
}

@media screen and (max-width: 576px) {
  .my-detail-table table.detail > tbody > tr,
  .my-detail-table table.detail > tr {
    display: block;
    margin-bottom: 3px;
    border: 1px solid #ccc;
  }

  .my-detail-table table.detail.condensed > tbody > tr,
  .my-detail-table table.detail.condensed > tr {
    margin-bottom: 0;
    border-bottom-width: 0;
  }

  .my-detail-table table.detail.condensed > tbody > tr:last-child,
  .my-detail-table table.detail.condensed > tr:last-child {
    border-bottom-width: 1px;
  }

  .my-detail-table table.detail > tbody > tr > th,
  .my-detail-table table.detail > tr > th {
    display: block;
    width: auto;
    text-align: left;
    border: none;
    max-width: unset;
  }

  .my-detail-table table.detail > tbody > tr > td,
  .my-detail-table table.detail > tr > td {
    display: block;
    border: none;
  }
}
