/*
file: main.css
author: Wang, Jian-Zhong
email: jason@gms.ndhu.edu.tw
description: Shared styles.
*/

.pre-line {
  white-space: pre-line;
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
  background-image: none;
  padding-right: 0.75rem !important;
}

.was-validated .form-control:valid,
.form-control.is-valid {
  background-image: none;
  padding-right: 0.75rem !important;
}

.input-icon-left,
.input-icon-right {
  position: relative;
  display: block;
  width: 100%;
}

@media (min-width: 576px) {
  .form-inline [class*='input-icon-'] {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
}

.input-icon-left > i,
.input-icon-right > i {
  position: absolute;
  top: 50%;
  margin-top: -0.5rem;
  color: #6c757d;
}

.input-icon-left > .form-control {
  padding-left: 2rem;
}

.input-icon-left > i:first-of-type {
  left: 0.5rem;
}

.input-icon-right > .form-control {
  padding-right: 2rem;
}

.input-icon-right > i:last-of-type {
  right: 0.5rem;
}

table.table > tbody > tr > td,
table.table > tr > td {
  vertical-align: middle;
}

/* 詳細資料(table) */

table.detail {
  width: 100%;
  margin-bottom: 10px;
}

table.detail caption {
  caption-side: top;
}

table.detail > tbody > tr > th,
table.detail > tr > th {
  border: 1px solid #ccc;
  width: 30%;
  max-width: 160px;
  padding: 5px 8px;
  text-align: right;
  background: #f3f3f3;
}

table.detail > tbody > tr > td,
table.detail > tr > td {
  border: 1px solid #ccc;
  padding: 5px 8px;
  word-break: break-all;
}

table.detail.condensed > tbody > tr > th,
table.detail.condensed > tbody > tr > td,
table.detail.condensed > tr > th,
table.detail.condensed > tr > td {
  padding: 3px 5px;
}

@media screen and (max-width: 576px) {
  table.detail > tbody > tr,
  table.detail > tr {
    display: block;
    margin-bottom: 3px;
    border: 1px solid #ccc;
  }

  table.detail.condensed > tbody > tr,
  table.detail.condensed > tr {
    margin-bottom: 0;
    border-bottom-width: 0;
  }

  table.detail.condensed > tbody > tr:last-child,
  table.detail.condensed > tr:last-child {
    border-bottom-width: 1px;
  }

  table.detail > tbody > tr > th,
  table.detail > tr > th {
    display: block;
    width: auto;
    text-align: left;
    border: none;
    max-width: unset;
  }

  table.detail > tbody > tr > td,
  table.detail > tr > td {
    display: block;
    border: none;
  }
}

/* responsive table */

@media screen and (max-width: 576px) {
  table.responsive {
    border: none;
  }

  table.responsive > thead {
    display: none;
  }

  table.responsive > tbody > tr,
  table.responsive > tr {
    display: block;
    margin-bottom: 10px;
    background: #fff !important;
  }

  table.responsive > tbody > tr:nth-of-type(odd),
  table.responsive > tr:nth-of-type(odd) {
    background: rgba(0, 0, 0, 0.05) !important;
  }

  table.responsive > tbody > tr:last-child,
  table.responsive > tr:last-child {
    margin-bottom: 0;
  }

  table.responsive > tbody > tr > td,
  table.responsive > tr > td {
    display: flex;
    justify-content: space-between;
    border-bottom-width: 0;
    padding: 5px;
  }

  table.responsive > tbody > tr > td.actions,
  table.responsive > tr > td.actions {
    justify-content: flex-start;
  }

  table.responsive > tbody > tr > td:last-child,
  table.responsive > tr > td:last-child {
    border-bottom-width: 1px;
  }

  table.responsive > tbody > tr > td::before,
  table.responsive > tr > td::before {
    content: attr(data-title);
    font-weight: bold;
    min-width: 2rem;
  }
}
