.my-table table.table > tbody > tr > td,
.my-table table.table > tr > td {
  vertical-align: middle;
}

.my-table table.table > thead > tr > th.sortable,
.my-table table.table > tr > th.sortable {
  cursor: pointer;
}

.my-table table.table > thead > tr > th.actions,
.my-table table.table > tr > th.actions {
  width: 11rem;
}

.my-table table.table.table-sm > thead > tr > th.actions,
.my-table table.table.table-sm > tr > th.actions {
  width: 10rem;
}

.my-table table.table > thead > tr > th.selections,
.my-table table.table > tr > th.selections {
  width: 1rem;
}

.my-table .selections .custom-control.custom-checkbox {
  margin-left: 0.5rem;
}

.my-table .inline-edit-item {
  min-width: 120px;
}

.my-table .dropdown-menu.displaying-columns {
  min-width: 180px;
  max-height: 280px;
  overflow-y: auto;
}

.my-table .hbox,
.my-table [class*="hbox-"] {
  align-items: center !important;
  gap: 0.25rem;
}

.my-table .hbox[class*="-right"],
.my-table [class*="hbox-"][class*="-right"] {
  justify-content: flex-end;
}

.my-table .hbox {
  display: flex !important;
}

@media (min-width: 576px) {
  .my-table .hbox-sm {
    display: flex !important;
  }
}

@media (min-width: 768px) {
  .my-table .hbox-md {
    display: flex !important;
  }
}

@media (min-width: 992px) {
  .my-table .hbox-lg {
    display: flex !important;
  }
}

@media (min-width: 1200px) {
  .my-table .hbox-xl {
    display: flex !important;
  }
}

/* responsive table */

@media screen and (max-width: 576px) {
  .my-table table.responsive {
    border: none;
  }

  .my-table table.responsive > thead {
    display: none;
  }

  .my-table table.responsive > tbody > tr,
  .my-table table.responsive > tr {
    display: block;
    margin-bottom: 10px;
    background: #fff !important;
  }

  .my-table table.responsive > tbody > tr:nth-of-type(odd),
  .my-table table.responsive > tr:nth-of-type(odd) {
    background: rgba(0, 0, 0, 0.05) !important;
  }

  .my-table table.responsive > tbody > tr:last-child,
  .my-table table.responsive > tr:last-child {
    margin-bottom: 0;
  }

  .my-table table.responsive > tbody > tr > td,
  .my-table table.responsive > tr > td {
    display: flex;
    justify-content: space-between;
    border-bottom-width: 0;
    padding: 5px;
  }

  .my-table table.responsive > tbody > tr > td.actions,
  .my-table table.responsive > tr > td.actions {
    justify-content: flex-start;
  }

  .my-table table.responsive > tbody > tr > td:last-child,
  .my-table table.responsive > tr > td:last-child {
    border-bottom-width: 1px;
  }

  .my-table table.responsive > tbody > tr > td::before,
  .my-table table.responsive > tr > td::before {
    content: attr(data-title);
    font-weight: bold;
    min-width: 2rem;
  }

  .my-table .inline-edit-item {
    min-width: unset;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
